/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

@media all and (min-width: 668px) {

    body {
        margin-left: 101px;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 12.5px;
    }

    #nav-toggle {
        display: none;
    }

    #logo {
        width: 75px;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    #logo img {
        position: absolute;
        left: 11.5px;
        top: 12.5px;
        margin: 0 0 50px 0;
    }

    #nav-links {
        display: flex;
        flex-direction: column;
    }

    #name {
        display: block;

        padding: 20px 0;
    }

    #name:hover {
        background-color: rgba(255, 255, 255, 0.41);
    }

    #nav-links {
        margin-top: 0;
        padding-top: 0;
    }

    #nav-links li a {
        width: 75px;
        text-align: center;
        padding: 20px 0;
        text-decoration: none;
    }

    #page {
        justify-content: center;
        align-items: flex-start;
        width: 90%;

        min-height: 100vh;
        margin: 0 auto;
    }

    .skill-item {
        width: 100%;
    }

    .project-text {
        justify-content: space-between;
        margin: 0;
    }
    .project-desc {
        width: 60%;
    }
    .project-req {
        text-align: right;
    }

    .project-links {
        margin-top: 25px;
    }

}


@media all and (min-width: 1024px) {

    .skill-item {
        width: 45%;
    }

}

@media all and (min-width: 500px) {
    .page-content {
        align-items: flex-start;
    }



    #skills {
        padding: 20px;
    }


}

@media screen and (max-height: 445px)and (min-width: 650px){
    #about {
        height: 100vh;
    }
    #page {
        width:100%;
        margin: 0;
        padding: 0 15px;
        align-items: center;
        justify-content: center;
    }
    .skill-item {
        width: 100%;
    }
    #logo-img {
        display: none
    }
}

