


/* - Root Variables */

:root{
    --background1: #040616;
    --background2: rgba(0, 204, 255, 0.29);
    --navColor1: rgb(25, 255, 154);
    --navColor2: rgb(75, 41, 191);
    --page-height: calc(100vh - 150px);

    --font-size: 18px;
    --font-size-1: 32px;
    --font-size-2: 24px;
}




/* - Fonts */


h1, h2, h3, h4, ul, li, a, button, th, td, text, p, label, span{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: white;
}


nav a {
    color: black;
    font-size: var(--font-size);
}

#page h2 {
    font-size: var(--font-size-1);
}
h1{
    font-size: 2.5em ;
    color: rgb(0, 135, 255);
}
.page-title {

    color: rgb(0, 135, 255);
}


#page p, #page p {
    font-size: var(--font-size-2)
}


/* - Index */
html,body {
    min-height: 100vh;
}
body {

    background-color: var(--background1);
}


/* - Nav */

#nav {
    display: flex;
    flex-direction: column;

    padding: 12.5px;

    background: linear-gradient(135deg, var(--navColor1) 50%, var(--navColor2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

#nav-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo-img {
    height: 75px;
    width: 75px;
    margin-right: 12.5px;
}

#logo a{
    text-decoration: none;
}

#nav-toggle {
    height: 50px;
    width: 50px;
}


#name {
    display: none;
}

#nav-links {
    display: none;
    border-top: black 5px solid;
    margin-top: 12.5px;
    padding-top: 12.5px;
}

#nav-links li  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav-links li a {
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

#nav-links li:hover {
    background-color: rgba(255, 255, 255, 0.41);
}

/* - -Base Page */

#page {
    min-height: var(--page-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 25px 15px;
}

.page-content {

    min-height: var(--page-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.page-content h1 {
    margin-bottom: 25px;
}

.page-content p {
    margin-bottom: 20px;
}

.btn {
    border: 2px solid var(--background2);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    border: 2px solid rgba(0, 204, 255, 0.53);
    box-shadow: 10px 10px rgba(0, 204, 255, 0.53);

}


/* - About Page */


.page-content {

}

    #skills {
        display: flex;
        flex-direction: column;
    }


    #skill-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .skill-item {
        margin: 10px 0;
        padding: 0 10px;
    }

    .skill-item h2 {
        margin-bottom: 5px;

    }

    /* - Portfolio Page */

#projects {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: 25px 10px;
    }


    .project img {
        max-height: 250px;
        max-width: 250px;
        width: auto;
        height: auto;
        margin-bottom: 25px;
    }


    #project-item {
        display: flex;
        flex-direction: column;
    }

    .project-text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 25px;
    }

    .project-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    .page-title {
        margin-bottom: 10px;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    .project-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .project-links img {
        width: 200px;
        height: auto;
    }
    .project-links > div {
    }

    .project-desc {
        margin-bottom: 25px;
    }
    .project-req p {
        margin-bottom: 7.5px;
    }

h1:nth-of-type(2) {
    color: #ff2fb6;
}