{% extends 'index.html' %}

{% block content %}

    <div id="about" class="page-content">
        <h1>Welcome! My name is Callum Pullinger.</h1>

        <p>I'm a software developer based in Southend-on-Sea.</p>

        <p>I design and build Full Stack web applications!</p>

        <p>Have an idea you want to make a reality?</p>

            <div class="btn-div">
                <a id="email-btn" class="btn" href="mailto:clpullinger@gmail.com">Email Me</a>
            </div>
    </div>

{% endblock %}