{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">


        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Title</title>

        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway|Ubuntu" rel="stylesheet">

        <link rel="stylesheet" href="/static/style/reset.css">
        <link rel="stylesheet" href="/static/style/style.css">
        <link rel="stylesheet" href="/static/style/responsive.css">

        <link rel="stylesheet" href="/static/style/star.css">

        <script type="text/javascript" src="/static/lib/js/jquery.js"></script>
        <script type="text/javascript" src="/static/lib/js/bootstrap.js"></script>
    </head>

    <body>

    <header>
        <nav id="nav">
            <div id="nav-header">
                <div id="logo">
                    <img id='logo-img' src="/static/imgs/logo.png">
                    <a id="name" href="/">Callum Pullinger</a>
                </div>
                    <img id="nav-toggle" src="/static/icons/if_Menu2_1031510.png">
            </div>

            <ul id="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/portfolio/">Projects</a></li>
                <li><a href="/contact-details/">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="stars">
        <div class="p p-1"></div>
        <div class="p p-2"></div>
        <div class="p p-3"></div>
        <div class="p p-4"></div>
        <div class="p p-5"></div>
    </div>
    <div id="page">
        {% block content %}

        {% endblock %}
    </div>
    <script type="text/javascript">
        $('#nav-toggle').click(function () {
            $('#nav-links').toggle('fast');
            $('#name').toggle('fast');
        })
    </script>
    </body>
</html>