{% extends 'commercial/index.html' %}



{% block content %}

    <div id="landing" class="page">
        <div class="container">
            <div id="landing-content">

                <div class="landing-text">
                    <h1 class="page-title">Need a powerful, effective website for your new business venture?</h1>

                    <p>We will build you a bespoke, mobile-friendlly, website which is FREE and easy to update!</p>
                </div>

                <div class="btns">
                    <a class="btn">Get Case Studies</a>
                    <a class="btn">Get A Price</a>
                </div>
            </div>
        </div>
    </div>


    <div class="page">
        <div class="container">
            <div id="case-studies">
                <h1 class="page-title">Case Studies</h1>

                {% for project in projects %}


                    <div class="case-study">
                        <div class="case-text">

                            <h1>{{ project }}</h1>


                            <h2>What they said:</h2>
                            {% autoescape off %}
                                {{ project.testimonial | truncatewords:100 }}
                            {% endautoescape %}
                            <p class="client"> - {{ project.client }}</p>


                            <div class="case-req">
                                {% for jr in job_reqs  %}
                                    <p>{{ jr }}</p>
                                {% endfor %}
                            </div>

                        </div>

                        <div class="case-img">
                            <img src="{{ project.project_logo.url }}">
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="features">
        <h1 class="page-title">Features</h1>

        <div id="job_recs">
            {% for job_rec in job_reqs %}
                <p>{{ job_rec }}</p>
            {% endfor %}
        </div>
    </div>

    <div id="booking" class="page">
        <div class="container">
            {% include 'commercial/calendar.html' %}
        </div>
    </div>


{% endblock %}